extends master.pug
block content
    .main.container
        .row
            .col-md-6.col-md-offset-3
                if err
                    each val in err
                        p.alert.alert-danger Il ya une erreur: #{val.message}
                h1.titles Inscription
                form(method='POST' action='/signup')
                    div.form-group
                        label(for='lastName') Nom:
                        input#name.form-control(type='text', placeholder='Foo' name='lastname')
                    div.form-group
                        label(for='firstName') Prenon:
                        input#name.form-control(type='text', placeholder='Foo' name='firstname')  
                    div.form-group
                        label(for='email') Email:
                        input#email.form-control(type='email', placeholder='name@email.com' name='email')
                    div.form-group
                        label(for='pw') Password:
                        input#pw.form-control(type='password' name='password')
                    div.form-group
                        label(for='pw2') Confirm Password:
                        input#pw2.form-control(type='password' name='confirmPassword')
                    button.btn.btn-primary(type='submit') Validez